*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}

html,
body {
  line-height: 1;
  font-family: $font-inter !important;
  background-color: $color-black;
  color: $color-white;
  scroll-behavior: smooth;
  height: auto;
  $vw: 100vw;
  font-size: calc($vw / 1440px * 16px);

  @include media('<phone') {
    font-size: calc($vw / 750px * 18px);
    overflow-x: hidden;
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 18px);
  }
}

section,
.footer {
  background:
    radial-gradient(circle, rgba(101, 2, 180, 0.20) 0%, rgba(101, 2, 180, 0) 70%) top left / 600px 600px no-repeat,
    radial-gradient(circle, rgba(101, 2, 180, 0.20) 0%, rgba(101, 2, 180, 0) 70%) bottom right / 500px 500px no-repeat,
    radial-gradient(circle, rgba(101, 2, 180, 0.20) 0%, rgba(101, 2, 180, 0) 70%) 80% 20% / 750px 750px no-repeat;
  background-color: $color-page-bg;

  @include media('<phone') {
    background: none;
    background-color: $color-page-bg;
  }
}

.hero__section {
  background:
    radial-gradient(circle, rgba(101, 2, 180, 0.20) 0%, rgba(101, 2, 180, 0) 70%) top left / 600px 600px no-repeat,
    radial-gradient(circle, rgba(101, 2, 180, 0.20) 0%, rgba(101, 2, 180, 0) 70%) bottom right / 500px 500px no-repeat,
    radial-gradient(circle, rgba(101, 2, 180, 0.20) 0%, rgba(101, 2, 180, 0) 70%) 80% 20% / 750px 750px no-repeat,
    url('../../assets/images/hero-pattern.svg') no-repeat center center/contain;
  background-color: $color-page-bg;
  padding-top: 100px;

  @include media('<phone') {
    background: none;
    background-color: $color-page-bg;
  }
}

p {
  line-height: 1.5;

  &.big {
    $vw: 100vw;
    font-size: calc($vw / 1440px * 24px);

    @include media('<phone') {
      font-size: calc($vw / 750px * 20px);
      overflow-x: hidden;
    }

    @include media('<small') {
      font-size: calc($vw / 500px * 20px);
    }
  }

  &.bigger {
    $vw: 100vw;
    font-size: calc($vw / 1440px * 32px);

    @include media('<phone') {
      font-size: calc($vw / 750px * 32px);
      overflow-x: hidden;
    }

    @include media('<small') {
      font-size: calc($vw / 500px * 30px);
    }
  }
}

br {
  @include media('<phone') {
    visibility: hidden;
  }
}

small {
  $vw: 100vw;
  font-size: calc($vw / 1440px * 14px);

  @include media('<phone') {
    font-size: calc($vw / 750px * 14px);
    overflow-x: hidden;
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 13px);
  }
}

h1 {
  font-weight: 700;
  line-height: 1.2;
  font-family: $font-cabinet;
  $vw: 100vw;
  font-size: calc($vw / 1440px * 64px);
  width: 64vw;

  @include media('<phone') {
    font-size: calc($vw / 750px * 64px);
    width: auto;
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 45px);
  }
}

h2 {
  font-weight: 700;
  $vw: 100vw;
  font-family: $font-cabinet;
  font-size: calc($vw / 1440px * 48px);

  @include media('<phone') {
    font-size: calc($vw / 750px * 48px);
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 38px);
  }
}

h3 {
  font-weight: 700;
  $vw: 100vw;
  font-family: $font-cabinet;
  font-size: calc($vw / 1440px * 40px);

  @include media('<phone') {
    font-size: calc($vw / 750px * 40px);
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 32px);
  }
}

h4 {
  font-weight: 700;
  $vw: 100vw;
  font-family: $font-cabinet;
  font-size: calc($vw / 1440px * 32px);

  @include media('<phone') {
    font-size: calc($vw / 750px * 32px);
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 28px);
  }
}

h5 {
  font-weight: 600;
  $vw: 100vw;
  font-family: $font-cabinet;
  font-size: calc($vw / 1440px * 24px);

  @include media('<phone') {
    font-size: calc($vw / 750px * 24px);
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 22px);
  }
}

h6 {
  font-weight: 500;
  $vw: 100vw;
  font-family: $font-cabinet;
  font-size: calc($vw / 1440px * 22px);

  @include media('<phone') {
    font-size: calc($vw / 750px * 22px);
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 20px);
  }
}

.page {
  padding: 1rem;
  z-index: z('content');
}

// body {
//   font-family: $font-inter;
//   background-color: $color-white;
//   color: $color-black;
//   @include media('<phone') {
//     overflow-x: hidden;
//   }
// }
a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.page-btn {
  margin: 2rem;

  @include media('<phone') {
    margin-right: 0;
    margin-left: 0;
  }
}

img {
  vertical-align: middle;
}

input,
textarea {
  border: 1px solid $color-grey;
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  color: $color-white;
  font-family: $font-inter;
  $vw: 100vw;
  font-size: calc($vw / 1440px * 18px);
  background: transparent;

  @include media('<phone') {
    font-size: calc($vw / 750px * 16px);
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 16px);
  }

  &[type='file'] {
    width: 30%;

    @include media('<small') {
      width: 70%;
    }
  }

  &::placeholder {
    color: $color-grey;
  }

  &:focus {
    border: 1px solid $color-white;
    outline: none;
  }
}

button {
  padding: 16px 30px;
  background: linear-gradient(115deg, #7C0CDF 27.2%, #430779 76.89%);
  color: $color-white;
  border-radius: 15px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  outline: 5px solid rgba(101, 2, 180, 0.2);
  ;

  &.outline {
    background: none;
    border: 1px solid $color-button-border;
    border-radius: 30px;
    color: $color-purple-text;
    outline: none;
  }
}

.purple {
  background-image: linear-gradient(to right, #8700FF 6%, #DAB0FF 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  .word {
    background-image: linear-gradient(to right, #8700FF 6%, #DAB0FF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.desktop {
  display: auto !important;

  @include media('<phone') {
    display: none !important;
  }
}

.phone {
  display: none !important;

  @include media('<phone') {
    display: block !important;
  }
}

.grey {
  color: $color-grey;
}

.underlined__header {
  &::after {
    content: '';
    position: absolute;
    top: 105%;
    height: 2px;
    background-color: $color-white;
    width: 150px;
  }
}

.word {
  display: inline-block;
  white-space: nowrap; // Prevents words from breaking unexpectedly
}

.char {
  display: inline-block;
}

.hero__header {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

  .word {
    transform: translateY(200%);
  }
}

.hero__text {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

  .word {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - 20px));
  }
}