nav {
    background: transparent;
    position: absolute;
    width: 100%;
    z-index: z('nav');

    .container.nav {
        margin-top: 1.5rem;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        border: 1px solid $color-nav-border;
        border-radius: 60px;
        .nav-link {
            .logo-name {
                padding-left: 0.5rem;
                font-size: 0.9rem;
            }
        }

        .logo {
            z-index: 1000;
        }

        .mid-links {
            .nav-link {
                color: $color-white;
                font-size: 0.8rem;

                &:hover {
                    color: $color-nav-border;
                }
            }
        }

        div.hamburger-react {
            display: none;
            z-index: z('hamburger');
            div {
                background: $color-white !important;

                &:nth-of-type(2) {
                    height: 2px !important;
                }
            }
        }
    }
}

div.backdrop.mobile {
    display: none;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    transition: all 0.5s;
    z-index: z('bg');

    aside {
        background-color: $color-page-bg;
        height: 70vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        z-index: z('aside');
        padding: 8rem 1rem 4rem;

        .nav-link {
            color: $color-white;
        }
    }
}

// @media (max-width: 1024px) {
//     div.right-links {
//         display: none;
//     }
// }

@media (max-width: 768px) {
    nav {
        .container.nav {  
            flex-wrap: nowrap;
            border: none;

            div.mid-links {
                display: none !important;
            }
            div.hamburger-react {
                display: inline-block;
                margin-left: 16px;
            }
            .right-links {
                button {
                    transform: scale(0.8);
                }
            }
        }
    }
    div.backdrop.mobile {
        display: block;
    }
}